
.container{
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding : 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}
.container section
{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3.25rem;
    align-content: center;
    margin-bottom: 20px;

}

@media(max-width: 420px) {
    .container {            
        padding: 0.5rem;   
        height: 140vh;
    } 
    .container section{        
        gap: 1.25rem;        
    } 
}